#controls {
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  background-color: #f6f6fe;
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

input {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 72px;
  width: 150px;
  text-align: center;
}

#controls button {
  min-width: 120px;
}

#controls [data-destroy] {
  background-color: #ff4e4e;
}

#controls [data-destroy]:hover,
#controls [data-destroy]:focus {
  background-color: #ff7070;
}

#boxes {
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  background: #f6f6fe;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 44px;
}
